body {
    font-family: 'Arial', sans-serif;
    background-color: #2e2e2e; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.main-container {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

.task {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1.1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], select, input[type="date"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

select {
    background-color: #fff;
    color: #000;
}

.btn {
    display: inline-block;
    padding: 12px;
    background-color: #08250f;
    color: #fff;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #218838;
}

button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
