body {
    font-family: 'Arial', sans-serif;
    background-color: #2e2e2e; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    overflow: hidden;
}

.main-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #fff;
}
.task-list {
    overflow-y: auto;  /* Dodaj przewijanie pionowe */
    max-height: 65vh;  /* Ustaw maksymalną wysokość dla listy zadań */
    margin-bottom: 10px;
    padding-right: 10px; /* Dla marginesu w przypadku scrollbara */
}
.task {
    list-style-type: none;
    margin: 15px 0;  /* Zmniejsz margines */
    padding: 15px;  /* Zmniejsz padding */
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1rem;  /* Zmniejsz font-size */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], select, input[type="date"] {
    padding: 8px;  /* Zmniejsz padding */
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;  /* Zmniejsz font-size */
    outline: none;
}

select {
    background-color: #fff;
    color: #000;
}

.btn {
    padding: 10px;  /* Zmniejsz padding */
    background-color: #08250f;
    color: #fff;
    margin-top: 10px;  /* Zmniejsz margines */
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #218838;
}

button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
