<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="todo-container">
            <h1>Moje zadania</h1>
            
            <ul id="todoList">
                <li>
                    <strong>Zadanie 1</strong> <br>
                    Kategoria: Praca <br>
                    Data: 2024-09-30
                </li>
                <li>
                    <strong>Zadanie 2</strong> <br>
                    Kategoria: Dom <br>
                    Data: 2024-10-05
                </li>
                <li>
                    <strong>Zadanie 3</strong> <br>
                    Kategoria: Zakupy <br>
                    Data: 2024-09-25
                </li>
            </ul>
            
            <a href="add-task.html" class="btn">Dodaj zadanie</a>
        </div>
    </div>
</body>
</html>
