<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="main-container">
    <h1>Moje zadania</h1>
    <div class="task" th:each="task : ${tasks}">

        <strong th:text="${task.name}">Zadanie</strong> <br>
        Kategoria: <span th:text="${task.category}">Kategoria</span> <br>
        Data: <span th:text="${task.date}">Data</span>

    </div>
    <a href="/add" class="btn">Dodaj zadanie</a>
</div>
</body>
</html>
